<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgba(0, 0, 0, 0);
                margin: 0px auto;
                overflow: hidden;
            }
            h1 {font-size: 2.5vw; margin: 0; color: grey;}
            p, li {font-size: 1.2vw; color: grey;}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Welcome to motemote: a realtime Conway's Game of Life implemented with twitch chat emotes. Add it as a browser source in OBS and let your viewers do the rest.">
        <title>motemote: error!</title>
    </head>
    <body>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 id="errorHeader"><%- errorHeader %></h1>
            <p id="errorDesc"><%- errorDesc %></p>
        </div>
    </body>
</html>