<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
            h1 {font-size: 2.5vw; margin: 0;}
            h2 {font-size: 1.33vw; margin: 0;}
            p, li {font-size: 1.2vw; margin: 1em 0;}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Welcome to motemote: a realtime Conway's Game of Life implemented with twitch chat emotes. Add it as a browser source in OBS and let your viewers do the rest.">
        <title>motemote</title>
    </head>
    <body>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 30%;">
            <canvas id="canvas" width=1280 height=720></canvas>
            <script src="/js/tmi.min.js"></script>
            <script>
                var lifespan = 3;
                var fps = 30;
                var channel = 'gamesdonequick';
            </script>
            <script src="/js/motemote.js"></script>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1>Welcome to <u>motemote</u>:</h1>
            <h2>a realtime <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a> implemented with <a href="https://www.twitch.tv/">twitch</a> chat emotes.<br>
            Add a URL following the format below as an OBS browser source and let your viewers do the rest 😎</h2>
            <p>
                Examples:
                <ul>
                    <li><b>motemote.telp.gg/channel/<u>ch</u></b><br/>default 1280x720 frame with 48x27 grid</li>
                    <li>motemote.telp.gg/channel/<u>ch</u><b>?cw=<u>960</u>&ch=<u>540</u></b><br/>960x540 frame with 48x27 grid</li>
                    <li>motemote.telp.gg/channel/<u>ch</u><b>?gw=<u>32</u>&gh=<u>18</u></b><br/>1280x720 frame with 32x18 grid</li>
                    <li>motemote.telp.gg/channel/<u>ch</u><b>?ips=<u>1</u></b><br/>Conway's Game of Life runs at 1 FPS (default is 10 FPS)</li>
                    <li>motemote.telp.gg/channel/<u>ch</u><b>?fps=<u>5</u></b><br/>animation runs at 5 FPS (default is 60 FPS)</li>
                    <li>motemote.telp.gg/channel/<u>ch</u><b>?lifespan=<u>0.5</u></b><br/>cells age out after 1/2 sec (default is 1 sec)</li>
                </ul>
            </p>
        </div>
    </body>
</html>